/*
 * Personal website of Eugen Bușoiu
 * #personalBranding
 *
 * @link https://github.com/eugenb/web#readme
 * @link https://eugenbusoiu.com
 * @author Eugen Bușoiu
 *
 * All rights reserved.
 */

// Main
main {

  // Lists
  ul {
    li {
      font-size: .9em;

      @media (min-width: 768px) {
        font-size: 1em;
      }
    }
  }

  small {
    font-size: .86em;
    font-weight: 300;
  }

  // Heading (3)
  h3 {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 10px;
  }
}