/*
 * EugenBușoiu online presence
 * #personalBranding #onlinePresence
 *
 * @link https://eugenbusoiu.com
 * @link https://eugen.pro
 * @link https://eugen.biz
 * @author Eugen Bușoiu <me@eugen.pro>
 *
 * @copyright All rights reserved.
 */

// Oxygen
@font-face {
  font-family: 'Oxygen';
  src: local('Oxygen'),
  url('@{S3}fonts/oxygen/oxygen-regular-webfont.woff2') format('woff2'),
  url('@{S3}fonts/oxygen/oxygen-regular-webfont.woff') format('woff'),
  url('@{S3}fonts/oxygen/oxygen-regular-webfont.ttf') format('truetype'),
  url('@{S3}fonts/oxygen/oxygen-regular-webfont.svg') format('svg'),
  url('@{S3}fonts/oxygen/oxygen-regular-webfont.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

// EugenBusoiu icons
@font-face {
  font-family: 'eb';
  src: url('@{S3}fonts/eb/v1/eb.woff') format('woff'),
  url('@{S3}fonts/eb/v1/eb.ttf') format('truetype'),
  url('@{S3}fonts/eb/v1/eb.svg') format('svg'),
  url('@{S3}fonts/eb/v1/eb.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}