/*
 * EugenBușoiu online presence
 * #personalBranding #onlinePresence
 *
 * @link https://eugenbusoiu.com
 * @link https://eugen.pro
 * @link https://eugen.biz
 * @author Eugen Bușoiu <me@eugen.pro>
 *
 * @copyright All rights reserved.
 */

.error-page {

  main {

    flex-grow: 1;
    padding: 40px 0;

    background-color: rgba(0, 0, 0, .6);
    color: @textColorWhite;

    h2 {
      margin: 30px 0 10px;
    }
  }
}